.create_post textarea{
    height:4rem;
    max-width: 73rem;
    border:none;
    border-bottom: 1px solid #666;
    outline: none;
    font-size: 3rem;
}
.create_post{
    margin-bottom: 3rem;
    
}
.create_post [type="submit"]{
    font-size: 2rem;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    outline:ivory;
}